{% extends 'shared/layout.html' %}

{% block title %}
    Reset Password
{% endblock %}

{% block content %}
    <div class="container">
        <section id="form"><!--form-->
            <div class="row">
                <div class="col-sm-6 col-md-offset-3">
                    <div class="signup-form"><!--sign up form-->
                        <h2>تغییر پسوورد</h2>
                        <form method="post" action="{% url 'confirm_forgot_password' confirmation_code=user.email_active_code %}">
                            {% csrf_token %}
                            {#                                {{ forgot-form }}#}

                            {{ reset_password_context.password.label_tag }}
                            {{ reset_password_context.password }}
                            {{ reset_password_context.password.errors }}

                            {{ reset_password_context.repeat_password.label_tag }}
                            {{ reset_password_context.repeat_password }}
                            {{ reset_password_context.repeat_password.errors }}

                            <button type="submit" class="btn btn-default">تغییر پسوورد</button>
                        </form>
                    </div><!--/sign up form-->
                </div>
            </div>
        </section>
    </div>
{% endblock %}